Package: com.gilshahar7.dndmyrecording
Name: DNDMyRecording
Depends: mobilesubstrate
Version: 1.3
Architecture: iphoneos-arm
Description: Enable DND when a screen recording is initiated.
Maintainer: gilshahar7, 0xkuj
Author: gilshahar7, 0xkuj
Section: Tweaks
